.contentbox {
    position:absolute;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    opacity: 0.95;
    width: 30%;
    top:24px;
    right:64px;
    bottom:24px;
    background-color: #f5f5f5;
    overflow: auto;
    z-index: 100;
    padding: 8px;
}