.mainStopBox{
    border-left: 15px solid lightblue;

}

.title {
    border: 5px solid green;
    background: green;
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.titleRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.affiliateBox{
    margin-left: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}
